h1{color: #000000}

.header{
    background-color: #ec1111;
    display:flex;
    justify-content:space-between;
    
}

.grid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer
{
    display: flex;
    justify-content: flex-end;
}

p,h2
{
    text-align: center;
    color: #ffffff;
}
body{background-color:#000000;}
